.h5, .h3,.h2, .h1, .p {
    max-width:100%;
}

.h5 div {
    max-width: 100%;
    width: 350px;
    height: 25px;
}

.h3 div {
    max-width: 100%;
    width: 300px;
    height: 25px;
}

.h2 div {
    max-width: 100%;
    width: 500px;
    height: 35px;
}

.h1 div {
    max-width: 100%;
    width: 700px;
    height: 45px;
}