.info.active {
    opacity: 1;
    z-index: 5;
}
.info.inactive {
    opacity: 0;
    z-index: -5;
}

.info {
    border: 1px solid #9db0cd;
    position: absolute;
    transition: opacity 0.15s ease-in-out;
    padding: 15px 20px !important;
    right: 0px;
    width: max-content;
    box-sizing: border-box;
    margin-top: 0px;
    margin-right: 35px;

    @media   (max-width: 425px) {
        max-width: 99vw;
        margin-top: 20px;
        margin-right: 0px;
    }
    @media   (min-width:426px) and (max-width: 728px) {
        max-width: 90vw;
        margin-top: 20px;
        margin-right: 0px;
    }
    @media   (min-width:729px) and (max-width: 1200px) {
        max-width: 50vw;
    }
    @media   (min-width:1201px) and (max-width: 1440px) {
        max-width: 50vw;
    }
    @media   (min-width:1441px) {
        max-width: 30vw;
    }
}

.info-icon {
    float: right;
    color: #4b678f;
    cursor: pointer;
}
.info-icon:hover {
    color: rgb(99, 128, 168);
}