.see-more {
    height:31px;
    padding: 0px 0px;
    position: relative;
    @media only screen and (max-width: 728px) {
        border-radius: 10px;
    }
    @media only screen and (min-width: 729px) {
        width: 0px;
        border-radius: 0px 10px 10px 0px;
    }
}
.see-more span {
    width: max-content;
    height: max-content;
<<<<<<< Updated upstream
    background-color: #8c97cd;
=======
>>>>>>> Stashed changes
    position: absolute;
    margin-top: 5px;
    z-index: 1;
    color: white;
    cursor: pointer;
    transition: right 1.2s linear(0 0%, 0.22 2.1%, 0.86 6.5%, 1.11 8.6%, 1.3 10.7%, 1.35 11.8%, 1.37 12.9%, 1.37 13.7%, 1.36 14.5%, 1.32 16.2%, 1.03 21.8%, 0.94 24%, 0.89 25.9%, 0.88 26.85%, 0.87 27.8%, 0.87 29.25%, 0.88 30.7%, 0.91 32.4%, 0.98 36.4%, 1.01 38.3%, 1.04 40.5%, 1.05 42.7%, 1.05 44.1%, 1.04 45.7%, 1 53.3%, 0.99 55.4%, 0.98 57.5%, 0.99 60.7%, 1 68.1%, 1.01 72.2%, 1 86.7%, 1 100%);
    @media only screen and (max-width: 728px) {
        padding: 5px 18px;
        left: 0px;
        border-radius: 10px;
    }
    @media only screen and (min-width: 729px) {
        padding: 5px 18px 5px 60px;
        border-radius: 0px 10px 10px 0px;
        right: -15px;
    }
}
.see-more span.active {
    right: -100px;
}

.see-more span.active.clicked {
    right: -110px;
}