@use '../utilities/mixins';

.list {
    list-style-type: none;
    padding: 0px;
    @media only screen and (min-width: 729px) {
        gap: 10px 6px;        
    }
    @media only screen and (max-width: 728px) {
        gap: 6px 4px;
    }
}