@use "../../static/scss/partials/utilities/mixins";
/* @use "../../static/scss/partials/utilities/variables";
 */
.card {
    text-align: left;
    position: relative;
    @media   (min-width: 729px) {
        @include mixins.card-style($bg-color: white, $padding: 10px 18px, $radius: 5px);
    }
    @media   (min-width:426px) and (max-width: 728px) {
        @include mixins.card-style($padding: 10px 15px, $radius: 5px);
    }
    @media   (max-width: 425px) {
        @include mixins.card-style($padding: 10px 2px);
    }
}

.card .card {
    text-align: left;
    @media   (min-width: 729px) {
        @include mixins.card-style($bg-color: white, $padding: 10px 18px, $radius: 5px);
    }
    @media   (min-width:426px) and (max-width: 728px) {
        @include mixins.card-style($padding: 10px 15px, $radius: 5px);
    }
    @media   (max-width: 425px) {
        @include mixins.card-style($padding: 10px 10px, $radius: 5px);
    }
}


.sm-card {
    position: relative;
    height: max-content;
    width: max-content;
    text-align: left;
    @media   (min-width: 728px) {
        @include mixins.card-style($padding: 6px 12px, $radius: 5px);
    }
    @media   (max-width: 728px) {
        @include mixins.card-style($padding: 5px 10px, $radius: 5px);
    }
}

.button {
    cursor: pointer;
    position: relative;
    height: max-content;
    width: max-content;
    text-align: left;
    @media   (min-width: 728px) {
        @include mixins.card-style($padding: 6px 12px, $radius: 5px);
    }
    @media   (max-width: 728px) {
        @include mixins.card-style($padding: 5px 10px, $radius: 5px);
    }
}
.button:hover {
    cursor: pointer;
    position: relative;
    height: max-content;
    width: max-content;
    text-align: left;
    @media   (min-width: 728px) {
        @include mixins.card-style($padding: 6px 12px, $radius: 5px);
    }
    @media   (max-width: 728px) {
        @include mixins.card-style($padding: 5px 10px, $radius: 5px);
    }
}


.sm-card.min-size {
    min-height: 20px;
    min-width: 50px;
}


.card.min-size {
    min-height: 70px;
}

.header {
    @extend .card;
    color: white;
    background: linear-gradient(150deg, #254979, #174e84, #4e7fb6, #14487b);
}
.content {
    padding:12px 10px;
}
.flex-grow {
    flex-grow: 1;
}
.alert {
    background-color: rgb(228 74 74);
    border: 3px double #ffc8c8;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
}
.success {
    background-color: #95e069;
    border: 3px double #bbff93;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
}
.warning {
    background-color: #ecba25;
    border: 3px double #fff780;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
}
.info {
    background-color: #758794;
    border: 3px double #d3dceb;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
}