@use "../../static/scss/partials/utilities/mixins";
/* @use "../../static/scss/partials/utilities/variables";
 */
.card {
    z-index: 1;
    text-align: left;
    @media only screen and (min-width: 729px) {
        @include mixins.card-style($bg-color: white, $padding: 10px 18px, $radius: 5px);
    }
    @media only screen and (min-width:426px) and (max-width: 728px) {
        @include mixins.card-style($padding: 10px 15px, $radius: 5px);
    }
    @media only screen and (max-width: 425px) {
        @include mixins.card-style($padding: 10px 5px);
    }
}

.sm-card {
    z-index: 1;
    height: max-content;
    width: fit-content;
    text-align: left;
    @media only screen and (min-width: 728px) {
        @include mixins.card-style($padding: 6px 12px, $radius: 5px);
    }
    @media only screen and (max-width: 728px) {
        @include mixins.card-style($padding: 5px 10px, $radius: 5px);
    }
}

.sm-card.min-size {
    min-height: 20px;
    min-width: 50px;
}


.card.min-size {
    min-height: 70px;
    min-width: 95%;
}

.header {
    @extend .card;
    color: white;
    background: linear-gradient(150deg, #8000ff, #00ffd0);
}
.content {
    padding:12px 10px;
    z-index: 5;
}
