.percentage-bar {
    width: 100%;
    height: 6px;
    border-radius: 15px;
    background-color: #acacac;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.percentage {
    height: 100%;
    background-color: #7b09fd;
} 

.focused {
    height: 20px;
}
.percentage-level {
    float: left;
    color: white;
    text-align: center;
    width: 100%;
    font-weight: 500;
    align-content: center;
    height:100%;
}

