.chevron-down-icon {
    background-color: #4b678f;
    width: max-content;
    border-radius: 8px;
    padding:5px 45px;
    margin: 5px;
    color: #ffffff;
    align-self: center;
    cursor: pointer;
    transition: background-color 0.2s;
}
.chevron-down-icon:hover {
    background-color: rgb(99, 128, 168) !important;
}