@use './variables';

@media screen and (min-width: 426px) {
    .hover-shadow {
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s;
    }
    .hover-shadow:hover {
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    }
    .hover-size-in {
        transform: scale(1);
        transition: transform 0.15s ease;
    }
    .hover-size-in:hover {
        transform: scale(0.95);
    }
    
    .hover-size-out {
        transform: scale(1);
        transition: transform 0.15s ease;
    }
    .hover-size-out:hover {
        transform: scale(1.05);
    }
}

.bg-white {
    background-color: variables.$color-white !important;
    color: rgb(20, 20, 20);
}
.bg-light {
    background-color: variables.$color-light !important;
    color: black;
}
.bg-grey {
    background-color: variables.$color-grey !important;
    color: rgb(0, 0, 0);
}
.bg-light-grey {
    background-color: variables.$color-light-grey !important;
    color: rgb(0, 0, 0);
}
.bg-light-blue {
    background-color: #a1a6ea !important;
    color: rgb(255, 255, 255);
}
.bg-green {
    background-color: #95e069 !important;
    color: white;
}
.bg-orange {
    background-color: #ff9a80 !important;
    color: white;
}
.bg-purple {
    background-color: #9e7ee7 !important;
    color: white;
}
.sm-rounded {
    border-radius: 5px;
}
.md-rounded {
    border-radius: 8px;
}
.lg-rounded {
    border-radius: 12px;
}

.loading-icon {
    color: #67709b;
    font-size: 3rem;
}

.loading-gradient {
  background: linear-gradient(90deg, 
            rgba(0,0,0,0.05) 0%,   
            rgba(0, 0, 0, 0.13) 20%,  
            rgba(0,0,0,0.05) 40%,  
            rgba(0,0,0,0.05) 100% 
          );
  background-size: 200% 100%; 
  background-position: 100% 0;
  animation: animateGradient 1s ease-in-out infinite;
}
@keyframes animateGradient {
  0% {
    background-position: 100% 0; // Começa fora da tela à esquerda
  }
  100% {
    background-position: -100% 0; // Termina fora da tela à direita
  }
}
