
@media screen and (min-width: 426px) {
    .hover-shadow {
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s;
    }
    .hover-shadow:hover {
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    }
    .hover-size-in {
        transform: scale(1);
        transition: transform 0.15s ease;
    }
    .hover-size-in:hover {
        transform: scale(0.95);
    }
    
    .hover-size-out {
        transform: scale(1);
        transition: transform 0.15s ease;
    }
    .hover-size-out:hover {
        transform: scale(1.05);
    }
}

.bg-white {
    background-color: #ffffff !important;
    color: rgb(20, 20, 20);
}
.bg-light {
    background-color: #f8f9fa !important;
    color: black;
}
.bg-grey {
    background-color: #4b678f !important;
    color: rgb(255, 255, 255);
}
.bg-light-grey {
    background-color: rgb(226, 226, 235) !important;
    color: rgb(0, 0, 0);
}
.bg-light-blue {
    background-color: #a1a6ea !important;
    color: rgb(255, 255, 255);
}
.bg-green {
    background-color: #95e069 !important;
    color: white;
}
.bg-orange {
    background-color: #ff9a80 !important;
    color: white;
}
.bg-purple {
    background-color: #9e7ee7 !important;
    color: white;
}
.sm-rounded {
    border-radius: 5px;
}
.md-rounded {
    border-radius: 8px;
}
.lg-rounded {
    border-radius: 12px;
}
<<<<<<< Updated upstream
=======
.xl-rounded {
    border-radius: 30px;
}
.btn-inactive {
    background-color: #b3b3bf !important;
    color: white;
}
.btn-github {
    color: white;
    cursor: pointer;
    transition: transform 0.8s linear(0 0%, 0.22 2.1%, 0.86 6.5%, 1.11 8.6%, 1.3 10.7%, 1.35 11.8%, 1.37 12.9%, 1.37 13.7%, 1.36 14.5%, 1.32 16.2%, 1.03 21.8%, 0.94 24%, 0.89 25.9%, 0.88 26.85%, 0.87 27.8%, 0.87 29.25%, 0.88 30.7%, 0.91 32.4%, 0.98 36.4%, 1.01 38.3%, 1.04 40.5%, 1.05 42.7%, 1.05 44.1%, 1.04 45.7%, 1 53.3%, 0.99 55.4%, 0.98 57.5%, 0.99 60.7%, 1 68.1%, 1.01 72.2%, 1 86.7%, 1 100%);
}
.btn-github:hover {
    transform: scale(0.87);
}
>>>>>>> Stashed changes

.loading-icon {
    color: #67709b;
    font-size: 3rem;
}

.loading-gradient {
  background: linear-gradient(90deg, 
            rgba(0,0,0,0.05) 0%,   
            rgba(0, 0, 0, 0.13) 20%,  
            rgba(0,0,0,0.05) 40%,  
            rgba(0,0,0,0.05) 100% 
          );
  background-size: 200% 100%; 
  background-position: 100% 0;
  animation: animateGradient 1s ease-in-out infinite;
}
@keyframes animateGradient {
  0% {
    background-position: 100% 0; // Começa fora da tela à esquerda
  }
  100% {
    background-position: -100% 0; // Termina fora da tela à direita
  }
}


