@mixin card-style($bg-color: #f8f9fa, $radius: '10px', $padding: '4px 8px', $fit-content:null, $color: black) {
    background-color: $bg-color;
    border-radius: $radius;
    padding: $padding;
    color: $color;

    @if $fit-content {
        width: fit-content;
    }
}