// src/scss/abstracts/_variables.scss

// Cores Primárias
$color-primary: #5e31ff;   // Azul vibrante
$color-secondary: #bfbfff; // Verde esmeralda
$color-accent: #e74c3c;    // Vermelho coral

// Cores Neutras
$color-dark: #333;
$color-grey: #c0c0ce;
$color-light-grey: #e2e2eb;
$color-light: #f8f9fa;
$color-white: #ffffff;

// Cores de Feedback/Status
$color-success: #28a745;
$color-warning: #ffc107;
$color-error: #dc3545;

